footer{
	background-color: #0A22F4;
	padding: 275px 100px 40px 100px;
}
.top-side{
    display: flex;
    justify-content: space-between;
}
/* contact side */
h2{
	font-size: 32px;
	color: #FFFFFF;
	font-family: "bold";
}
footer p{
	font-size: 16px;
	max-width: 463px;
	margin-top: 30px;
	margin-bottom: 58px;
	color: #FFFFFF;
	font-family: "regular";
}
iframe{
	border-radius: 15px;
	width: 463px;
	height: 197px;
	margin-bottom: 92px;
    box-shadow: -10px 10px #FFFFFF;

}
.footer-buttons{
	display: flex;
	align-items: center;
}
.mobile, .email{
	display: flex;
	align-items: center;
	font-family: "bold";
}
.mobile img, .email img{
	background-color: #FFFFFF;
	padding: 22px;
	margin-right: 20px;
	width: 70px;
	height: 70px;
	border-radius: 50px;
}
.mobile a, .email a{
	font-size: 22px;
	color: #FFFFFF;
}
.mobile a{
	margin-right: 98px;
}


/* registration side */
.registration-side{
    width: 463px;
    margin-top: 98px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: bold;
    color: #FFFFFF;
}
input, textarea{
    color: #FFFFFF;
    font-size: 18px;
    font-family: regular;
    height: 41px;
    margin-top: 8px;
    margin-bottom: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);

}
textarea{
    height: 121px;
    resize: none;
}
button{
    font-size: 16px;
    color: #171717;
    background-color: #FFFFFF;
    font-family: bold;
    max-width: 151px;
    border: none;
    border-radius: 28px;
    padding: 18px 45px 18px 36px;
    margin-left: auto;
}


/* ending */
.ending{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 165px;
	padding-top: 40px;
	color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
	font-family: "bold";
}
.copyright{
	font-size: 16px;
}
.made-in, .made-out{
	font-size: 13px;
}
.heart-logo{
	width: 26px;
	height: 26px;
	margin-left: 15px;
	margin-right: 10px;
}
.smartweb-icon{
	width: 121px;
	height: 35px;
	margin-left: 30px;
}
.right-side{
	display: flex;
	align-items: center;
}
/* the end */